<div class="home">
    <div class="row search-container">

        <div class="col-3 menu-item">
            <div>Keywords</div>
            <input class="form-control" type=text/>
        </div>
        
        <div class="col menu-item">
            <div>Categories</div>
            <select class="form-control">
                <option>List of repeated contents</option>
            </select> 
        </div>
        
        <div class="col menu-item">
            <div>Show</div>
            <select class="form-control">
                <option>List of repeated contents</option>
            </select> 
        </div>

        <div class="col menu-item">
            <div>Sort by</div>
            <select class="form-control">
                <option>List of repeated contents</option>
            </select> 
        </div>
        
        <div class="col-1 menu-item">
            Reset
        </div>

        <div class="col-1 menu-item">
            <p class="btn btn-secondary">
                +Question
            </p>
        </div>
   </div>
   <div class="row question-container">
       <div class=" col-8 list">
           <div class="card">
               question
           </div>
       </div>
       <div class=" col-4 display">
           <div class="card">
               selected question
           </div>
       </div>
   </div>
</div>
